<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD32NcUVaIK_kaRPs4T50kx-liEW05j4qE</string>
	<key>GCM_SENDER_ID</key>
	<string>275449735636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sin.fi1inexplor</string>
	<key>PROJECT_ID</key>
	<string>app224-13d10</string>
	<key>STORAGE_BUCKET</key>
	<string>app224-13d10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275449735636:ios:3bc8fb8545e05a961ece41</string>
</dict>
</plist>